body{
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
	/* display: flex;
	flex-direction: column; */
    justify-content: center;
    align-items: center;
    height: 100vh;
}

h1{
    text-align: center;
	font-family: Arial;
}

.navibar{
    z-index: 1;
	background: skyblue;
    justify-content: center;
    display: flex;
	top: 0;
	width: 100%;
	font-weight: bold;
	font-family: Arial;
	font-size: 25px;
	padding-top: 10px;
	padding-right: 10px;
	padding-bottom: 15px;
	padding-left: 10px;
	margin: auto;
}

.navibar a{
	text-decoration: none;
    color: black;
    margin: 0;
    white-space: nowrap;
    position: relative;
	padding: 10px;
	overflow: hidden;
	transition: background 0.2s ease, padding 0.2s ease;
}

.navibar a:hover {
    background: radial-gradient(circle at center, white, skyblue);
	padding-top: 10px;
	padding-right: 10px;
	padding-bottom: 15px;
	padding-left: 10px;
}

.container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 20px;
}

.box {
    width: 400px;
    padding: 100px;
    margin: 100px;
    border: 1px solid #d32c2c;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
}

.box:hover {
    transform: scale(1.1);
}