body{
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: linear-gradient(to top, #f787bb, #f7accfe7 20%, transparent), url('merced_hospital.jpg') center/cover;
    background-color: #f787bb;
    background-repeat: no-repeat;
    background-attachment: fixed;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
    overflow:scroll;
}

h1{
    text-align: center;
    font-family: Arial, sans-serif;
    text-shadow: 3px 3px 5px #f787bb;
    color: white;
    transition: transform 1.5s ease;
}
h1:hover{
    transform:rotate3d(0, 5, 0, 90deg);
}

.navibar{
    z-index: 1;
	background: linear-gradient(to bottom, #f7accf, white);
    box-shadow: white;
    box-shadow: 0 4px 8px rgba(255, 255, 255, 0.059);
    justify-content: center;
    display: flex;
	top: 0;
	width: 100%;
	font-weight: bold;
	font-family: Arial;
	font-size: 25px;
	padding-top: 10px;
	padding-right: 10px;
	padding-bottom: 15px;
	padding-left: 10px;
	margin: auto;
}
.navibar:hover{
    background: #f7accf;
}

.navibar a{
	text-decoration: none;
    color: black;
    margin: 0;
    white-space: nowrap;
    position: relative;
	padding: 10px;
	overflow: hidden;
	transition: background 0.2s ease, padding 0.2s ease;
}

.navibar a:hover {
    background: radial-gradient(circle at center, white, #f7accf);
	padding-top: 10px;
	padding-right: 10px;
	padding-bottom: 15px;
	padding-left: 10px;
}

.search-bar {
    display: flex;
    justify-content: center;
    border-radius: 20px;
    margin-top: 300px;
    margin-left: 20px;
    overflow: hidden;
}

.search-bar input {
	width: 50%;
    max-width: 600px;
    padding: 5px;
    font-size: 16px;
	text-align: left;
    border-radius: 8px;
    overflow: hidden;
}

.search-bar button {
    padding: 5px 10px;
    font-size: 16px;
    margin-left: 5px;
	background-color: #91a6ff;
    color: black;
    border: none;
    border-radius: 5px;
    cursor: pointer;
	transition: background-color 0.3s ease;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.search-bar button:hover {
    background-color: darkblue;
	color: white;
	box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

.container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 20px;
}

.box {
    width: 400px;
    padding: 50px;
    margin: 30px;
    border-radius: 8px;
    /* box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease; */
    /*  */
    border: 5px solid;
    border-image: linear-gradient(to top, white, #f7accf);
    border-image-slice: 1;
    border-radius: 8px;
    background-color: #ffffff;
    background-image: linear-gradient(to bottom, #ffffff 0%, #f7accf 74%);
    transition: transform 0.3s ease;
    /* text-align: center; */
}

.box:hover {
    transform: scale(1.1);
}

.signUp {
    width: 500px;
    padding: 50px;
    margin: 30px;
    border: 5px solid;
    border-image: linear-gradient(to top, white, #f7accf);
    border-image-slice: 1;
    border-radius: 8px;
    background-color: #ffffff;
    background-image: linear-gradient(to bottom, #ffffff 0%, #f7accf 74%);
    transition: transform 0.3s ease;
    text-align: center;
}

.signUp:hover {
    transform: scale(1.1);
}