<!DOCTYPE html>
<html>
<head>
    <title>Flask App</title>
</head>
<body>
    <h1>Welcome to Flask App!</h1>
    <p>This is a sample HTML page for your Flask app.</p>
    <div class="content">
        <form method="post">
            <p>
                <b>
                    <label>ToDo Content</label>
                </b>
            </p>
            <p>
                <input type="text" name="content" required>
            </p>
            <p>
               <b><label for="degree">Degree</label></b> 
            </p>

            <p>
                <input type="radio" id="degree-0" name="degree" value="important">
                <label for="degree">Important</label>
            </p>

            <p>
                <input type="radio" id="degree-1" name="degree" value="important">
                <label for="degree">Unimportant</label>
            </p>
            <button type="submit">Submit</button>
        </form>
    </div>    
</body>
</html>
