<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='web.css') }}">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Services Near You</title>
    <div class = "navibar">
        <nav>
            <a class = "active" href="/">Home</a>
            <a href="/visit">Your Visits</a>
            <a href="/services">Services Near You</a>
            <!-- <a href="/medical">Medical Questions</a> -->
            {%if session["login"] != "true"%}
                <a href="/login">log in</a>
            {%endif%}
            {% if session["login"] =="true" %}
                <a href="/profile">Your Profile</a>
                <a href="/logout">log out</a>
            {%endif%}
        </nav>
    </div>
</head>
<body>
    <h1>Login</h1>
    {% if message %}
        <p>{{ message }}</p>
    {% endif %}
    <div class="container">
        <div class="signUp">
            <form method="post">
                <label for="username">Username:</label><br>
                <input type="text" id="username" name="username"><br>
                <label for="password">Password:</label><br>
                <input type="password" id="password" name="password"><br>
                <button type="submit">Login</button>
            </form>
            <p style="font-size: 10px;">Don't have an account? <a href="/register">Sign up</a></p>
        </div>
    </div>
</body>
</html>