<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='web.css') }}">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Services Near You</title>
    <div class = "navibar">
        <nav>
            <a class = "active" href="/">Home</a>
            <a href="/visit">Your Visits</a>
            <a href="/services">Services Near You</a>
            <!-- <a href="/medical">Medical Questions</a> -->
            {%if session["login"] != "true"%}
                <a href="/login">log in</a>
            {%endif%}
            {% if session["login"] =="true" %}
                <a href="/profile">Your Profile</a>
                <a href="/logout">log out</a>
            {%endif%}
        </nav>
    </div>
</head>
<body>
    
    <h1>Your Profile</h1>
    <div class="container">
        <div class="signUp">
            <h2>Profile Information</h2>
            <p>Username: {{user}}</p>
            <p>Email: {{email}}</p>
            <p>City: {{city}}</p>
        </div>
    </div>
</body>
</html>