<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='web.css') }}">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HackMerced2024 Health Website</title>
    <div class = "navibar">
        <nav>
            <a class = "active" href="/">Home</a>
            <a href="/visit">Your Visits</a>
            <a href="/services">Services Near You</a>
            <!-- Goes to the login screen -->
            {%if session["login"] != "true"%}
            <a href="/login">log in</a>
            {%endif%}
            {% if session["login"] =="true" %}
            <a href="/profile">Your Profile</a>
            <a href="/logout">log out</a>
            {%endif%}
        </nav>
    </div>
</head>
<body>
    <h1>Your Visits</h1>
    {%if session["login"] == "true" and session['visit'] != "true"%}
    <!-- Set up an appointment -->
    <div class="container">
        <div class="box">
            <h2>Book an Appointment</h2>
            <form method="post">
                <label for="date">Date:</label><br>
                <input type="date" id="date" name="date"><br>
                <label for="time">Time:</label><br>
                <input type="time" id="time" name="time"><br>
                <label for="reminderOne"> Reminder 1:</label><br>
                <input type="text" id="reminderOne" name="reminderOne"><br>
                <label for="reminderTwo"> Reminder 2:</label><br>
                <input type="text" id="reminderTwo" name="reminderTwo"><br>

                <button type="submit">Book</button>
            </form>
    </div>

    <!-- Your content goes here -->
    <div class="container">
        <div class="box">
            <h2>Next Appointment</h2>
            {%if date and time%}
            <p>Date: {{date}}</p>
            <p>Time: {{time}}</p>
            {%endif%}
            {%if not date and not time%}
            <p>No upcoming appointments</p>
            {%endif%}
        </div>

        <div class="box">
            <h2>Reminders</h2>
            {%if reminderOne and reminderTwo%}
            <p>Reminder 1: {{reminderOne}}</p>
            <p>Reminder 2: {{reminderTwo}}</p>
            {%endif%}
            {%if not reminderOne and not reminderTwo%}
            <p>No Reminders</p>
            {%endif%}
        </div>
        <!-- Add more boxes as needed for other information -->
    </div>
    {% endif %}
    {% if session["login"] != "true" %}
    <div class="container">
        <div class="box">
            <h2>Log In to View Your Visits or Book an appointment</h2>
            <p>Log in to view your upcoming appointments and reminders.</p>
    </div>
    {% endif %}
</body>
</html>