<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='web.css') }}">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HackMerced2024 Health Website</title>
    <div class = "navibar">
        <nav>
            <a class = "active" href="web.html">Home</a>
            <a href="/visit">Your Visits</a>
            <a href="/services">Services Near You</a>
            <a href="/medical">Medical Questions</a>
            <!-- Goes to the login screen -->
            <a href="/register"> Sign Up </a>
            <a href="/login"> Log in </a>
        </nav>
    </div>
</head>
<body>
    
    <h1>Hack Merced 2024 Health Website</h1>
    <div class="search-bar">
        <input type="text" name="search" id="searchInput" placeholder="What are you looking for...">
        <button type="submit">Search</button>
    </div>
    <!-- Your content goes here -->
</body>
</html>