<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='web.css') }}">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HackMerced2024 Health Website</title>
    <div class = "navibar">
        <nav>
            <a class = "active" href="/">Home</a>
            <a href="/visit">Your Visits</a>
            <a href="/services">Services Near You</a>
            <!-- <a href="/medical">Medical Questions</a> -->
            <!-- Goes to the login screen -->
            {%if session["login"] != "true"%}
            <a href="/register"> Sign Up </a>
            <a href="/login">log in</a>
            {%endif%}
            {% if session["login"] =="true" %}
            <a href="/profile">Your Profile</a>
            <a href="/logout">log out</a>
            {%endif%}
        </nav>
    </div>
</head>
<script>

</script>


<body>
    <h1>Hack Merced 2024 Health Website</h1>
    <form class="search-bar" method="post">
        <input type="text" name="message" id="message" placeholder="What are you looking for...">
        <button id="submit">Search</button>
    </form>
    <div id="response">
        {%if response%}
        {{response}}
        {%endif%}
    </div>
    <!-- Your content goes here -->

</body>
<script src="{{ url_for('static', filename='web.js') }}"></script>
</html>